<%- include('./includes/head.ejs') %>
<section class="container-fluid">
    <div class="row row-table">
        <div class="col-xs-12 col-sm-12 col-md-4 bg-color-personal-info section-column">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-heading uppercase">Personal Info</h3>
                </div>
            </div>
            <div class="personal-info-item">
                <div class="key">
                    <p class="uppercase">Name:</p>
                </div>
                <div class="value">
                    <p>Oliver Tan Ka Shing</p>
                </div>
            </div>
            <div class="personal-info-item">
                <div class="key">
                    <p class="uppercase">Address:</p>
                </div>
                <div class="value">
                    <p>E-13A-3, Pelangi Utama Condominium Block DEF, Jalan Masjid, Bandar Utama, 47800, PJ Selangor</p>
                </div>
            </div>
            <div class="personal-info-item">
                <div class="key">
                    <p class="uppercase">Phone:</p>
                </div>
                <div class="value">
                    <p>+6012-338-5386</p>
                </div>
            </div>
            <div class="personal-info-item">
                <div class="key">
                    <p class="uppercase">Email:</p>
                </div>
                <div class="value">
                    <p>Gunavata@hotmail.com</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 bg-color-three-reasons section-column">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-heading uppercase">About Me</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-4 col-md-6">
                    <div class="row">
                        <div class="col-xs-2 col-sm-2 col-md-2">
                            <i class="three-reasons-icon fa fa-question" aria-hidden="true"></i>
                        </div>
                        <div class="col-xs-10 col-sm-10">
                            <h4 class="three-reasons-heading uppercase">What do I do?</h4>
                            <p>
                                I am currently working full time while studying programmin and software development
                                in my free time in hopes to one day transfer to a Full Stack Developer role!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-4 col-md-6">
                    <div class="row">
                        <div class="col-xs-2 col-sm-2 col-md-2">
                            <i class="three-reasons-icon fa fa-thumbs-up" aria-hidden="true"></i>
                        </div>
                        <div class="col-xs-10 col-sm-10">
                            <h4 class="three-reasons-heading uppercase">How do I do it?</h4>
                            <p>
                                I believe in practice makes perfect. I study the underlying principles
                                and then apply what i have learnt in building actual applications and
                                deploying them in order to get feedback and improve myself!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-4 col-md-6">
                    <div class="row">
                        <div class="col-xs-2 col-sm-2 col-md-2">
                            <i class="three-reasons-icon fa fa-bolt" aria-hidden="true"></i>
                        </div>
                        <div class="col-xs-10 col-sm-10">
                            <h4 class="three-reasons-heading uppercase">Why hire me?</h4>
                            <p>
                                I work quickly and effectively in getting things done as well as keeping
                                up to date with the necessary knowledge required to push forth. I am versatile,
                                able to both work and thrive in a team oriented environment or self start in
                                solo projects!
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<%- include('./includes/end.ejs') %>